@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
	color:black;

}

a {
	text-decoration: none;
	color: #48a770;
	outline: none;
}


button {
	border: none;
	padding: 0.6em 1.2em;
	background: #388a5a;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}


img {
		width: 50px;
		height: 50px;
	}

/* TOP NAV BARRRRRRR */


/* Navbar links */
.navbar a {
	text-decoration: none;
	font-size: 20px;
}




/* Fin de la TOP NAVBARRRR */

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
	.navbar a {
		float: none;
		display: block;
	}
}






header{
position:sticky;
top:0;
z-index: 1041;
}




/* Ajout du scroll en invisible sur les articles  */
main:hidden {
overflow: scroll;
}


#logo{
	position: absolute;
	left:100px;
}



/**modification input unlogedindex**/

.masthead {
	background-image:url(../img/background/fontInputUnlogedIndex.png);
	background-attachment: relative;
	padding: 250px 250px 375px;
	
} 

.mb-6 {
	margin-top: 8%;
}
/* Fin de modif input unlogedindex */





/*  Debut Icons Grid et presentation site */
.features-icons {
	padding-top: 7rem;
	padding-bottom: 7rem;
  }
  
  .features-icons .features-icons-item {
	max-width: 20rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon {
	height: 7rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon i {
	font-size: 4.5rem;
  }
  
  .features-icons .features-icons-item:hover .features-icons-icon i {
	font-size: 5rem;
  }
 
/*  fin icon et presentation  */


/* Debut du carousel text  */
/* @keyframes changeLetter {
	0% {
	  content: "C'est la marmelade ";
	}
	50% {
	  opacity: 0;
	}
	100% {
	  content: "de ma grand-mère";
	}
  }
  
  .element {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5%;
  }

	.element::after {
	  animation: changeLetter 5s linear infinite alternate;
	  display: block;
	  content: "";
	  font-size: 80px;
	} */
  

/* Carousel Text en 3 textes */

@keyframes changeLetter {
   0% {opacity:0;}
   2%{opacity:0.9; content:"\22 Robert 53 ans, cherche jeune(s) homme(s) pour une partie de petits chevaux. Gros Bisous!\22";}
   31%{opacity:0.9;content: "\22 Robert 53 ans, cherche jeune(s) homme(s) pour une partie de petits chevaux. Gros Bisous!\22";}
   33% {opacity:0;}
   35%{opacity:0.9;content: "\22 Bonjour, je cherche à prêter mon jeu de Ouija. C'est URGENT!!\22";}
   64%{opacity:0.9;content: "\22 Bonjour, je cherche à prêter mon jeu de Ouija. C'est URGENT!!\22";}
   66% {opacity:0;}
   68%{opacity:0.9;content: "\22 Faites pétez les tartines\22";}
   98% {opacity: 0.9;content:"\22 Envoie les tartines Gros\22"; }

 }

 .element {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size:30px;

 }

.element::after {
     animation: changeLetter 20s linear infinite;
     display: block;
     content: "";

   }
 
  
/* Fin du carousel text  */




/*  Debut Image Showcases  */
  .showcase .showcase-text {
	padding: 3rem;
  }
  
  .showcase .showcase-img {
	min-height: 30rem;
	background-size: cover;
  }
  
  @media (min-width: 768px) {
	.showcase .showcase-text {
	  padding: 7rem;
	}
  }
/*  fin Image Showcases */


/* Debut du testimonials Commentaire */

.testimonials {
	padding-top: 7rem;
	padding-bottom: 7rem;
  }
  
  .testimonials .testimonial-item {
	max-width: 18rem;
  }
  
  .testimonials .testimonial-item img {
	max-width: 12rem;
	-webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
	box-shadow: 0px 5px 5px 0px #adb5bd;
  }


/* footer */
  footer {
	border-top: 1px solid #a9ffbc;
	padding-top: 4rem;
	padding-bottom: 1rem;
  }
  
/* End Footer */


/* page login .... pas toucher rrrrh */

.modal-content-style {
	
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: rgba(0, 0, 0, 0.493);
	background-clip: padding-box;
	border-radius: .3rem;
	outline: 0;
}

.modal-header-style {
	text-align: center;
}
.modal-header-style {
	padding-right: 3rem;
	padding-left: 3rem;


}

.modal-footer-style {
	padding-right: 3rem;
	padding-left: 3rem;
	padding-top: 2rem;
	padding-bottom: 1rem;
}

.form-control-style {
	display: block;
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}




.btn-primary {
	background-color: #388a5a ;
	border-color: #2d8a54;
}




/*
    DEBUT DES EMMERDES
*/


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {

    background: #fff;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
		display: flex;
		flex-direction: row-reverse;
    width: 100%;
}


#sidebar {
    position: fixed;
    top: [head-end];
    left: 0;
		height: 100%;
		z-index: 999;  
		background-color: white;      /*ACHANGER*/
		transition: all 0.3s;
		margin-left: -265px;
}

#navUser{
	background-color: white;
}



#sidebar.active {
    margin-left: 0;
}



#sidebar .sidebar-header {
    padding: 20px;

}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.navbar  a:hover,
#sidebar ul li a:hover {
    color: #00da0b;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #01bb0b;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;

}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    top: 0;
    right: 0;
}

#content.active {
	width: calc(100% - 250px);
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

