body {
	background: #444;
	color: #48a770;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

header{
	position:sticky;
	top:0;
}


img {
		width: 50px;
		height: 50px;
	}
}







/* DEBUT CSS TOP NAV BAR  */
/* Style the navigation bar */

  

  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  /* @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  } */

  /* FIN CSS TOP NAV BAR  */






/* CSS POUR NAV BAR LATERAL  */



.line{
	width: 100%;
}

main{
	width:100%;
}

.wrapper {
	display: flex;
}
#sidebar {


    min-width: 250px;
    max-width: 250px;
	transition: all 0.3s;
}
#sidebar.active{
	margin-left: -250px;
	
}

#sidebar .sidebar-header{
	padding: 20px;

}
#sidebar ul.components{
	padding: 20px;

}



#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}




/* FIN CSS NAV BAR LATERAL */



