
/* colortation des cases (pour s'y retrouver dans le grid) */
.box {
  background-color: lightgray;
  color: #fff;
}
/* Début déclaration du GRID pour la page d'acceuil utilisateur (page logedIndex.html)*/

.sectionUser {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: [nav-start] 15% [nav-end] auto [main-end] 25% [aside-end];
  grid-template-rows: [head-start] 5% [head-end] auto [body-end];
  /* grid-template-areas: 
  "menuuser menuuser menuuser"
  "navuser mainuser sidebaruser"; */

}

.menuUser {
  grid-column-start: nav-start;
  grid-column-end: aside-end;
  grid-row-start: head-start;
  grid-row-end: head-end;

}

.navUser{
  grid-column-start: nav-start;
  grid-column-end: nav-end;
  grid-row-start: head-end;
  grid-row-end: body-end;
}

.mainUser {
  grid-column-start: nav-end;
  grid-column-end: main-end;
  grid-row-start: head-end;
  grid-row-end: body-end;

}
 
.sidebarUser {
  grid-column-start: main-end;
  grid-column-end: aside-end;
  grid-row-start: head-end;
  grid-row-end: body-end;
}


/* Fin du grid pour la page d'acceuil utilisateur */



/* Début déclaration du GRID pour la page d'acceuil (sans connexion user; page unlogedIndex.html) */

.section {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-rows: [head-start] 5% [head-end] auto [body-end] 300px [footer-end];
  /* grid-template-areas: 
  "menu"
  "main"
  "footer"; */
  }
  
  .menu {
    grid-row-start: head-start;
    grid-row-end: head-end;
  }
  

 
  .main {
    grid-row-start: head-end;
    grid-row-end: body-end;
  }
  

  .footer{
    grid-row-start: body-end;
    grid-row-end: footer-end;
  }
  /* Fin du grid pour la page d'acceuil (sans connexion user; page acceuil.html)*/

