
/* colortation des cases (pour s'y retrouver dans le grid) */
.box {
  background-color: lightgray;
  opacity: 0.9;
  color: #fff;
  padding: 20px;
}
/* Début déclaration du GRID pour la page d'acceuil utilisateur (page acceuiluser.html)*/

.sectionuser {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  grid-template-areas: 
  "menuuser menuuser menuuser menuuser menuuser menuuser"
  ". mainuser mainuser mainuser mainuser sidebaruser"
  "footeruser mainuser mainuser mainuser mainuser sidebaruser";
}

.menuuser {
  grid-area: menuuser;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainuser {
  grid-area: mainuser;
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  text-align: center;
}
 
.sidebaruser {
  grid-area: sidebaruser;
}

.socialuser {
  grid-area: footeruser;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Fin du grid pour la page d'acceuil utilisateur */

/* Début déclaration du GRID pour la page d'acceuil (sans connexion user; page acceuil.html) */

.section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
    grid-template-areas: 
    "menu menu menu menu menu menu"
    "main main main main main sidebar"
    "footer footer footer footer footer footer";
  }
  
  .menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .main {
    grid-area: main;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    text-align: center;
  }
   
  .sidebar {
    grid-area: sidebar;
  }
  
  .social {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /* Fin du grid pour la page d'acceuil (sans connexion user; page acceuil.html)*/